@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: 'Pacifico', cursive;
}


.font-cursive {
  font-family: 'Great Vibes', cursive;
}
/* Optional custom vars */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Pacifico', cursive;
}
@keyframes flicker {
  0% { transform: scale(1) translateY(0); opacity: 0.9; }
  50% { transform: scale(1.1) translateY(-1px); opacity: 1; }
  100% { transform: scale(1) translateY(0); opacity: 0.8; }
}

.animate-flicker {
  animation: flicker 0.8s infinite ease-in-out;
}
html,
body {
  overflow: hidden;
  background: #050505;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background: #050505;
}

* {
  -webkit-tap-highlight-color: transparent;
}
.clip-envelope {
  clip-path: polygon(0 0, 50% 55%, 100% 0, 100% 100%, 0 100%);
}
.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background: rgba(255, 215, 0, 0.7);
  box-shadow:
    0 0 10px rgba(255, 215, 0, 0.8),
    0 0 20px rgba(255, 215, 0, 0.4);
  animation: floatParticle linear infinite;
  opacity: 0.6;
  filter: blur(0.3px);
}

@keyframes floatParticle {
  0% {
    transform: translateY(0px) translateX(0px);
    opacity: 0;
  }

  20% {
    opacity: 0.7;
  }

  50% {
    transform: translateY(-40px) translateX(10px);
    opacity: 1;
  }

  100% {
    transform: translateY(-80px) translateX(-10px);
    opacity: 0;
  }
}